@import "../../../styles/_variables.scss";

.datatable {
	border-spacing: 0;

	width: 100%;
	height: auto;
	border-radius: 8px;

	background-color: white;

	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	overflow: hidden;

	th, td {
		min-width: 150px;
	}

	.datatable-thead {
		.thead-row {
			.thead-cell {
				height: 100px;
				padding: 10px;

				background-color: $flesh;

				border-bottom: 2px solid $alto;
			}
		}
	}

	.datatable-tbody {
		text-align: left;

		.tbody-row {
			.tbody-cell {
				vertical-align: middle;

				padding: 20px;

				border-bottom: 2px solid $alto;
			}

			.datatable-loader {
				text-align: center;

				img {
					width: 200px;
					margin: 50px auto;
				}

				p {
					color: $dove_gray;
					font-size: 2em;
					font-weight: bold;
				}
			}

			.tbody-action_cell {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				column-gap: 15px;

				.button {
					padding: 10px;
					margin: 0;
				}

				.button.modify-button {
					background-color: $success_color;

					border-color: $success_color;
				}

				.button.delete-button {
					background-color: $danger_color;

					border-color: $danger_color;
				}
			}
		}

		.tbody-row:last-child td{
			border: none;
		}
	}
}
