@import "../../../styles/_variables.scss";

.App-footer{

    width: 100%;
    
    background-color: $gold_drop;

    .footerPresentation{
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;

        padding: 25px 0;
    
        font-size: 18px;
        text-align: left;

        .Item{
            display: grid;
            grid-gap: 1.5rem;  
        }

        a:hover, a:link, a:visited, a:active{
            color: black;
            font-weight: 500;
        }

        a:hover, a:active{
            text-decoration: underline;
        } 
    }
}