.imgSideText-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    
    .imgSideText-img {
        width: 48%;
        min-width: 270px;
    }

    .imgSideText-p {
        width: 48%;
        height: fit-content;

        text-align: justify;
    }

    .left-element {
        order: 1;
    }

    .right-element {
        order: 2;
    }
}

@media screen and (max-width: 660px) {
    .imgSideText-container {
        flex-direction: column;

        .imgSideText-img {
            width: 100%;
        }
    
        .imgSideText-p {
            width: 100%;
            margin-top: 5px;
        }
    }    
}