@import "/src/styles/mixins";
@import "/src/styles/variables";

.CaseStoryHome-container{
    .Title{
        color:rgb(58, 133, 5);

        font-size: 45px;
        text-align: left;
        text-decoration: underline;

        margin-bottom: 10px;
        margin-left: 10px;
    }

    .Buttons{

        display: flex;
        flex-direction: row;
       
      
        font-size: 18px;
        text-align: left;

        margin-bottom: 100px;
        .button1{

            background-color: $gold_drop;
            margin-left: 160px;

            width: 200px;
            height: 30px;

            text-align: center;

            box-shadow: 3px 3px 5px rgb(26, 32, 13)
        }



    }
    
}

