@import "../../styles/_variables.scss";

.register-form {
    width: 800px;

    padding: 25px;

    border-radius: 5px;

    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);

    .flex {

        .form-input {
            width: 49%;
        }
    }

    p {
        margin: 15px 0;
    }
}