@import "./_variables.scss";

.form {
	box-sizing: border-box;

	margin: auto;

	text-align: left;

	.form-title {
		font-size: 2em;
	}

	.form-information {
		width: 100%;
		height: 30px;
		padding: 4px 0;

		font-size: 16px;
	}

	.form-information.success {
		color: $success_color;
	}

	.form-information.danger {
		color: $danger_color;
	}

	.form-input {
		.input-label {
			font-weight: bold;
		}

		.input {
			width: 100%;
			padding: 20px;
			margin: 15px 0;

			border: 1px solid $dove_gray;
			border-radius: 100px;
		}

		input::placeholder {
			color: $dove_gray;
		}
	}

	.form-submit {
		width: 100%;
		padding: 20px;
		margin: 25px 0;

		background-color: $chateau_green;

		border: 1px solid $chateau_green;
		border-radius: 100px;

		color: white;
		text-align: center;
		font-weight: bold;

		cursor: pointer;
	}

	.form-error {
		margin-bottom: 20px;

		color: $danger_color;
		font-style: italic;
	}
}

a.inline-link:link, a.inline-link:visited{
	color: $gold_drop;
	font-weight: bold;
}

.separator {
	box-sizing: border-box;
	width: 100%;
	height: 0;
	margin: 15px 0;

	border: 3px solid $alto;
	border-radius: 10px;
}

.m-1 {
	margin: 10px;
}

.m-2 {
	margin: 25px;
}

.m-3 {
	margin: 50px;
}

.mh-1 {
	margin: 0 10px;
}

.mh-2 {
	margin: 0 25px;
}

.mh-3 {
	margin: 0 50px;
}

.mv-1 {
	margin: 10px 0;
}

.mv-2 {
	margin: 25px 0;
}

.mv-3 {
	margin: 50px 0;
}

.p-1 {
	padding: 10px;
}

.p-2 {
	padding: 25px;
}

.p-3 {
	padding: 50px;
}

.ph-1 {
	padding: 0 10px;
}

.ph-2 {
	padding: 0 25px;
}

.ph-3 {
	padding: 0 50px;
}

.pv-1 {
	padding: 10px 0;
}

.pv-2 {
	padding: 25px 0;
}

.pv-3 {
	padding: 50px 0;
}

.clear {
	clear: both;
}

.flex {
	display: flex;
}

.flex_space-btw {
	justify-content: space-between;
}

.flex_space-ard {
	justify-content: space-around;
}

.flex-wrap {
	flex-wrap: wrap;
}