@import "../../styles/_variables.scss";

.imgSideText-container {
    flex-wrap: wrap;
}

.banner {
    width: 100%;
}

.countryCards{
    display: grid;
    place-items: center center ;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 20px;
    gap: 40px;
}