header{
    background-color: #EC7C3C;
    margin:0}

.cont{width:1000px;
    height:auto;
    background:#e6e6e6 ;// #d7dad4; 
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(50vh - 220px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative}

    .lmj-Edit_CaseStory-read{
        content:attr(type);
    display:block;
    margin:28px 0 28px;
    padding:18px 0 0px;
    font-size:20px;
    color:#5a5a5a;
    float: left
    }
    .form-input{
        width:100%;
        padding:30px;
        box-sizing:border-box;
        background:none;
        outline:none;
        resize:none;
        border:0;
        font-family:'Montserrat',sans-serif;transition:all .3s;
        border-bottom:2px solid #bebed2
        
    
    }

    .lmj-Edit_CaseStory-title{
        margin:10px 0;
        padding-bottom:10px;
        width:180px;
        color:#78788c;
        border-bottom:3px solid #78788c}

        .lmj-Edit_CaseStory-button{
            float:center;
          padding:8px 60px;
          margin:40px 0 0;
          font-family:'Montserrat',sans-serif;
          border:2px solid #78788c;
          background:0;
          color:#5a5a6e;cursor:pointer;
          transition:all .3s;
          background-color: orange;
        }