@import "/src/styles/variables";

.CaseStoryHome-container{
    .title{
        margin: 20px 0;

        font-size: 2em;
        text-align: left;

    }

    .external_link {
        display: block;

        width: fit-content;
        margin: 20px 0;
    }
}

