@import "../../styles/_variables.scss";

.login-form {
    width: 500px;

    padding: 25px;

    border-radius: 5px;

    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);

    p {
        margin: 15px 0;
    }
}