@import "./Styles/variables";
@import "./Styles/mixins";

*, *:before, *:after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100%;

  background-color: $flesh;

  .headerPresentation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 130px;

    background-color: $flesh;

    font-size: calc(10px + 2vmin);
    color: white;
    
    .brandContainer {
      display: flex;
      align-items: center;
  
      .item {
        margin: 0 15px;
      }
  
      .brandInfos {
        display: flex;
        align-items: baseline;
        
        color: #000000;
  
        .brandName {
          font-size: 3.7em;
          font-weight: normal;
        }
      }
    }

    .headerImg {
      height: 100px;
      width: 100px;
    }
  }

  

  .navHeader{
    display: flex;
    justify-content: space-between;

    padding: $default_padding 20px;

    background-color: $mandarin;
    
    text-align: center;
    font-size: 1em;
    color: white;
    a:hover, a:link, a:visited, a:active{
      color: white;

    }
    
  }
}
.App-footer{

    width: 100%;
    height: 350px;
    
    background-color: $mandarin;

    .footerPresentation{
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
  
      font-size: 18px;
      text-align: left;

      .Item{
        padding: 25px 70px 100px 10px;

        display: grid;
        grid-gap: 1.5rem;  
        
      }

      
      
      a:hover, a:link, a:visited, a:active{
        color: black;
        font-weight: 500;
      }

      a:link, a:visited{
        text-decoration: none;
      }

      a:hover, a:active{
        text-decoration: underline;
      }
      
    }
    
      
    

  }
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.external_link {
  padding: 10px;

  color: white;
  font-weight: bold;
  text-decoration: none;

  background-color: $fern_green;

  border-radius: 5px;
}

.flex {
  display: flex;
}

.flex_space-btw {
  justify-content: space-between;
}

.flex_space-ard {
  justify-content: space-around;
}

.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 25px;
}

.m-3 {
  margin: 50px;
}

.mh-1 {
  margin: 0 10px;
}

.mh-2 {
  margin: 0 25px;
}

.mh-3 {
  margin: 0 50px;
}

.mv-1 {
  margin: 10px 0;
}

.mv-2 {
  margin: 25px 0;
}

.mv-3 {
  margin: 50px 0;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 25px;
}

.p-3 {
  padding: 50px;
}

.ph-1 {
  padding: 0 10px;
}

.ph-2 {
  padding: 0 25px;
}

.ph-3 {
  padding: 0 50px;
}

.pv-1 {
  padding: 10px 0;
}

.pv-2 {
  padding: 25px 0;
}

.pv-3 {
  padding: 50px 0;
}