@import "./Styles/variables";
@import "./Styles/mixins";

*, *:before, *:after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

a:link, a:visited{
  text-decoration: none;
  color: currentColor;
}

.App {
  text-align: center;
}

.external_link,  .external_link:link, .external_link:visited{
  padding: 10px;

  color: white;
  font-weight: bold;
  text-decoration: none;

  background-color: $chateau_green;

  border-radius: 5px;
}