@import "../../../styles/_variables.scss";

.app-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

    width: 100%;
  
    background-color: $flesh;

	.header-brand {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		.brand-logo {
			width: 100px;
		}

		.brand-infos {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			padding: 7px;

			text-align: left;

			h1 {
				font-size: 3em;
			}

			p {
				font-size: 1.3em;
			}
		}
	}

	.header-nav {
		display: flex;
		flex-direction: row;
		align-items: self-end;
		column-gap: 20px;

		padding-right: 20px;

		.nav-link {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;

			font-size: 20px;

			.link-img {
				width: 24px;
				height: 24px;
				margin-right: 4px;
			}
		}
	}
}